NET "data_in(15)" LOC = F18 | IOSTANDARD = LVCMOS33;
NET "data_in(14)" LOC = E18 | IOSTANDARD = LVCMOS33;
NET "data_in(13)" LOC = F17 | IOSTANDARD = LVCMOS33;
NET "data_in(12)" LOC = E16 | IOSTANDARD = LVCMOS33;
NET "data_in(11)" LOC = K13 | IOSTANDARD = LVCMOS33;
NET "data_in(10)" LOC = G13 | IOSTANDARD = LVCMOS33;
NET "data_in(9)" LOC = K12 | IOSTANDARD = LVCMOS33;
NET "data_in(8)" LOC = H12 | IOSTANDARD = LVCMOS33;
NET "data_in(7)" LOC = D18 | IOSTANDARD = LVCMOS33;
NET "data_in(6)" LOC = C18 | IOSTANDARD = LVCMOS33;
NET "data_in(5)" LOC = D17 | IOSTANDARD = LVCMOS33;
NET "data_in(4)" LOC = C17 | IOSTANDARD = LVCMOS33;
NET "data_in(3)" LOC = G14 | IOSTANDARD = LVCMOS33;
NET "data_in(2)" LOC = F16 | IOSTANDARD = LVCMOS33;
NET "data_in(1)" LOC = F14 | IOSTANDARD = LVCMOS33;
NET "data_in(0)" LOC = F15 | IOSTANDARD = LVCMOS33;

NET "address_in(18)" LOC = N8 | IOSTANDARD = LVCMOS33;
NET "address_in(17)" LOC = N7 | IOSTANDARD = LVCMOS33;
NET "address_in(16)" LOC = P8 | IOSTANDARD = LVCMOS33;
NET "address_in(15)" LOC = N5 | IOSTANDARD = LVCMOS33;
NET "address_in(14)" LOC = P6 | IOSTANDARD = LVCMOS33;
NET "address_in(13)" LOC = U5 | IOSTANDARD = LVCMOS33;
NET "address_in(12)" LOC = V5 | IOSTANDARD = LVCMOS33;
NET "address_in(11)" LOC = T4 | IOSTANDARD = LVCMOS33;
NET "address_in(10)" LOC = V4 | IOSTANDARD = LVCMOS33;
NET "address_in(9)" LOC = R5 | IOSTANDARD = LVCMOS33;
NET "address_in(8)" LOC = T5 | IOSTANDARD = LVCMOS33;
NET "address_in(7)" LOC = B2 | IOSTANDARD = LVCMOS33;
NET "address_in(6)" LOC = A2 | IOSTANDARD = LVCMOS33;
NET "address_in(5)" LOC = B3 | IOSTANDARD = LVCMOS33;
NET "address_in(4)" LOC = A3 | IOSTANDARD = LVCMOS33;
NET "address_in(3)" LOC = B4 | IOSTANDARD = LVCMOS33;
NET "address_in(2)" LOC = A4 | IOSTANDARD = LVCMOS33;
NET "address_in(1)" LOC = C5 | IOSTANDARD = LVCMOS33;
NET "address_in(0)" LOC = A5 | IOSTANDARD = LVCMOS33;

NET write_enable_in LOC = R7 | IOSTANDARD = LVCMOS33;
NET read_enable_in LOC = T7 | IOSTANDARD = LVCMOS33;

# LEDs

NET led_1 LOC = J13 | IOSTANDARD = LVCMOS33;
NET led_2 LOC = K14 | IOSTANDARD = LVCMOS33;
NET led_3 LOC = U17 | IOSTANDARD = LVCMOS33;

NET UART_Rx LOC=H13 | IOSTANDARD = LVCMOS33;
NET UART_Tx LOC=H14 | IOSTANDARD = LVCMOS33;

NET clk TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 24 MHz;
NET clk TNM_NET = sys_clk_pin | LOC=K15 | IOSTANDARD = LVCMOS33;

NET reset TIG;
NET reset LOC = H18 | IOSTANDARD = LVCMOS33;

CONFIG VCCAUX = "3.3";